global
    log /dev/log local0
    maxconn 512

defaults
    mode http
    log global
    option http-keep-alive
    timeout connect 5s
    timeout client 60s
    timeout server 60s
    timeout tunnel 3600s
    timeout check 2s

frontend cdp_front
    bind 127.0.0.1:{{ devbox_browser.failover.cdp_port }}
    default_backend cdp_pool

backend cdp_pool
    option httpchk
    http-check send meth GET uri /json/version ver HTTP/1.1 hdr Host 127.0.0.1
    http-check expect status 200
    default-server inter 2s fall 2 rise 1
    server client 127.0.0.1:{{ devbox_browser.failover.client_tunnel_port }} check
    server local  127.0.0.1:{{ devbox_browser.failover.fallback_chrome_port }} check backup
